.evam_graph {
	font: 10px sans-serif;	
}

.evam_graph .axis path, 
.evam_graph .axis line {
	fill: none;
	stroke: #000;
	shape-rendering: crispEdges;
}

.evam_graph .axis .tick line {
  	stroke: #bbb;
  	stroke-opacity: .75;
}
	
.evam_graph.areachart path.area, 
.evam_graph.areachartbrush path.area {
	fill: steelblue;
}

.evam_graph.linechart path.line,
.evam_graph.areachart path.line, 
.evam_graph.areachartbrush path.line {  	
  	fill: none;
  	stroke: darkblue;
  	stroke-width: 1.2px;  	
}

.evam_graph.linechart .highlight circle,
.evam_graph.areachart .highlight circle {
	fill: none;
	stroke: red;
}

.evam_graph.linechart .overlay,
.evam_graph.areachart .overlay {
 	fill: none;
  	pointer-events: all;
}

.evam_graph.linechart .brush .extent,
.evam_graph.areachart .brush .extent {
  	stroke: #fff;
  	fill-opacity: .250;
  	shape-rendering: crispEdges;
}
