body {
  margin-top: 50px;
}

#wrapper {
  padding-left: 0;
}

#page-wrapper {
  width: 100%;
  padding: 5px 15px;
}

/* Edit Below to Customize Widths > 768px */
@media (min-width:768px) {

  /* Wrappers */
  #page-wrapper {
	padding: 15px 25px;
  }

  .navbar-inverse .navbar-nav>li>a:hover,
  .navbar-inverse .navbar-nav>li>a:focus {
	background-color: #080808;
  }

  /* Nav Messages */
  .navbar-collapse {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}